@import "../../styles/variables";
@import "../../styles/mixins";

.container {
  @include rounded-border("small");

  grid-area: 2/2/11/8;

  background: map-get($gray, 200);
  padding: 2rem;
}

.title {
  font-size: 5rem;

  color: map-get($blue, 200);
}

.icon {
  @include rounded-border("small");

  position: absolute;
  bottom: 0;
  left: 50%;

  transform: translate(-50%, 0);

  font-size: 3rem;
}

.description {
  font-size: 1.5rem;
}

.subtitle {
  @include rounded-border("small");

  box-shadow: 5px 5px 10px 0 map-get($gray, 500);

  color: white;
  background: map-get($blue, 200);

  padding: 1rem;
}

.instruction {
  display: flex;
  justify-content: space-between;
}

.box {
  @include rounded-border("small");

  position: relative;
  margin-top: 1rem;

  flex-basis: 30%;
  height: 250px;

  display: flex;

  box-shadow: 5px 5px 10px 0 map-get($gray, 500);

  background: map-get($blue, 200);
  color: white;

  &__number {
    font-size: 6rem;
    padding: 0.5rem;
  }
}
