@import "styles/variables";
@import "styles/mixins";

.container {
  height: 100vh;

  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  gap: 0.5rem;

  overflow: hidden;
}

.questionContainer {
  @include rounded-border("small");
  @include shadow("medium", map-get($gray, 500));
  @include flex();

  grid-area: 2/2/6/12;

  font-size: 1.5rem;

  background: white;
  padding: 0.5rem;

  overflow-y: auto;
}

.answerContainer {
  @include flex(space-around, center);

  grid-area: 7/2/12/12;
}

.tooltip {
  @include rounded-border("small");
  @include flex(space-around, center);

  grid-area: 6/2/7/12;

  text-align: center;

  color: map-get($blue, 400);
}

.info {
  @include rounded-border("small");
  flex-basis: 35%;

  background: map-get($gray, 200);

  padding: 0.5rem;
}

.infoSmall {
  flex-basis: 25%;
}

.timeBarContainer {
  @include flex();
  position: absolute;
  top: 1rem;
  right: 0;
  left: 0;

  height: 2rem;

  background: white;
}

.timeBar {
  width: 100%;
  height: 1rem;

  background: map-get($blue, 400);

  transform-origin: left center;
}

.answer {
  @include rounded-border("small");
  @include shadow("medium", map-get($gray, 500));
  @include flex(space-between, center);

  flex-basis: 49%;
  height: 47%;

  font-size: 1.5rem;

  background: map-get($blue, 400);
  color: white;

  overflow-y: auto;

  &:hover .answerNumber {
    flex-basis: 15%;

    background: map-get($yellow, 300);
  }
}

.answerNumber {
  @include flex();

  flex-basis: 10%;
  height: 100%;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  font-size: 2.5rem;

  background: map-get($gray, 200);
  color: map-get($blue, 400);

  transition: 300ms;
  transform-origin: left center;
}

.answerContent {
  flex-basis: 80%;
}
