@import "../../styles/variables";
@import "../../styles/mixins";

.container {
  height: 100vh;

  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  gap: 0.5rem;

  overflow: hidden;
}

.questionContainer {
  @include rounded-border("small");
  @include shadow("medium", map-get($gray, 500));

  grid-area: 2/2/6/12;

  font-size: 1.5rem;

  background: white;
  padding: 0.5rem;

  overflow-y: auto;
}

.answerContainer {
  grid-area: 7/2/12/12;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.tooltip {
  grid-area: 1/1/2/-1;

  text-align: center;
}

.answer {
  @include rounded-border("small");
  @include shadow("medium", map-get($gray, 500));

  flex-basis: 49%;
  height: 47%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  font-size: 1.5rem;

  background: map-get($blue, 200);
  color: white;

  overflow-y: auto;

  &:hover .answerNumber {
    flex-basis: 15%;

    background: map-get($yellow, 300);
  }
}

.answerNumber {
  flex-basis: 10%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  font-size: 2.5rem;

  background: map-get($gray, 200);
  color: map-get($blue, 200);

  transition: 300ms;
  transform-origin: left center;
}

.answerContent {
  flex-basis: 80%;
}
