@import "styles/variables";
@import "styles/mixins";

.checkboxContainer {
  flex-basis: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.checkbox {
  @include rounded-border("small");
  margin: 0 1rem;
  width: 2rem;
  height: 2rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  box-shadow: 0 0 0 2px map-get($blue, 100);

  font-size: 2rem;

  color: map-get($blue, 100);
  background: white;

  cursor: pointer;

  &:hover,
  &:focus {
    background: map-get($yellow, 200);
  }
}

.disabled {
  box-shadow: 0 0 0 2px map-get($gray, 400);

  background: map-get($gray, 200);
  color: map-get($gray, 500);

  &:hover,
  &:focus {
    background: map-get($gray, 200);
  }
}
