@import "styles/variables";
@import "styles/mixins";

.checkboxContainer {
  @include flex();

  flex-basis: 100%;
}

.checkbox {
  @include rounded-border("small");
  @include flex();

  margin: 0 1rem;
  width: 2rem;
  height: 2rem;

  box-shadow: 0 0 0 2px map-get($blue, 100);

  font-size: 2rem;

  color: map-get($blue, 100);
  background: white;

  cursor: pointer;

  &:hover,
  &:focus {
    background: map-get($yellow, 200);
  }
}

.disabled {
  box-shadow: 0 0 0 2px map-get($gray, 400);

  background: map-get($gray, 200);
  color: map-get($gray, 500);

  &:hover,
  &:focus {
    background: map-get($gray, 200);
  }
}
