@import "../../styles/variables";
@import "../../styles/mixins";

.checkbox {
  @include rounded-border("small");
  width: 2rem;
  height: 2rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  font-size: 2rem;

  background: white;

  cursor: pointer;

  &:hover,
  &:focus {
    background: map-get($yellow, 200);
  }
}

.disabled {
  background: map-get($gray, 200);
  color: map-get($gray, 500);

  &:hover,
  &:focus {
    background: map-get($gray, 200);
  }
}
