@import "styles/variables";
@import "styles/mixins";

.overlay {
  position: absolute;
  z-index: 9999;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: fade-out(map-get($gray, 300), 0.5);
}

.spinner {
  @include rounded-border("medium");

  z-index: 99999;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  transform-origin: left center;

  width: 8rem;
  height: 8rem;

  font-size: 0;
}

.tooltip {
  position: absolute;
  top: calc(50% + 5rem);
  left: 50%;

  transform: translate(-50%, -50%);

  width: 8rem;

  text-align: center;
}

.box {
  @include rounded-border("medium");

  display: inline-block;
  width: 50%;
  height: 50%;
}

.box1 {
  background: map-get($yellow, 300);
}
.box2 {
  background: map-get($red, 400);
}
.box3 {
  background: map-get($green, 400);
}
.box4 {
  background: map-get($blue, 200);
}
