@import "../../../styles/variables";
@import "../../../styles/mixins";

.container {
  @include rounded-border("small");

  position: relative;
  margin: 2rem auto;

  width: 95%;
  height: 20%;

  border: 2px solid map-get($blue, 200);

  background: map-get($gray, 200);

  padding: 1rem;
}

.settings {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  @include rounded-border("small");

  width: 100%;

  background: white;
  color: map-get($blue, 200);

  padding: 0.5rem;
}

.tooltip {
  @include rounded-border("small");

  position: absolute;
  top: -15%;
  right: -1%;

  border: 2px solid map-get($blue, 200);

  background: map-get($green, 100);
  color: map-get($green, 400);

  padding: 0.25rem 0.5rem;
}

.title {
  @include rounded-border("small");
  position: absolute;
  top: -12.5%;
  left: 50%;

  width: 50%;
  transform: translate(-50%, -50%);

  text-align: center;

  background: map-get($blue, 200);
  color: white;

  padding: 0.25rem;
}
