@import "styles/variables";
@import "styles/mixins";

.container {
  @include rounded-border("small");
  @include theme($gray);

  position: relative;
  margin: 2rem auto;

  width: 95%;
  min-height: 20%;
  max-height: 50%;

  padding: 1rem;
}

.settings {
  @include flex(space-between, center);
  width: 100%;
}

.info {
  @include flex(space-between, center);
}

.text {
  @include rounded-border("small");
  margin: 1.25rem;

  flex-grow: 1;

  text-align: center;

  background: white;
  color: map-get($blue, 400);

  padding: 0.5rem;
}

.tooltip {
  @include flex();
  @include rounded-border("small");

  position: absolute;
  top: -1.25rem;

  height: 2.5rem;
  min-width: 2.5rem;

  text-align: center;

  padding: 0.25rem 0.5rem;
  cursor: default;
  user-select: none;
  overflow-x: auto;
  overflow-y: hidden;
}

.tooltipYellow {
  background: map-get($yellow, 100);
  border: 2px solid map-get($gray, 500);
}

.tooltipGreen {
  @include theme($green);
}

.tooltipBlue {
  @include theme($blue);
}

.title {
  left: 50%;

  width: 50%;
  transform: translate(-50%, -50%);
}
