@import "styles/variables";
@import "styles/mixins";

.button {
  @include rounded-border("small");
  @include flex();

  position: relative;

  border: 2px solid map-get($gray, 500);

  background-color: white;
  padding: 0.5rem;

  &::before {
    @include rounded-border("small");
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transform: scaleX(0);
    transform-origin: left center;

    background: map-get($gray, 200);

    transition: transform 300ms linear;
  }

  &:focus:before,
  &:hover:before {
    transform: scaleX(1);
  }

  span {
    z-index: 999;
  }
}

.important {
  @include theme($yellow);

  &:before {
    background: map-get($yellow, 300);
  }
}

.primary {
  @include theme($blue);

  &:before {
    background: map-get($blue, 300);
  }
}

.confirm {
  @include theme($green);

  &:before {
    background: map-get($green, 400);
  }
}

.danger {
  @include theme($red);

  &:before {
    background: map-get($red, 400);
  }
}

.disabled {
  filter: grayscale(0.5);
  &:hover:before {
    transform: scaleX(0);
  }
}
