@import "../../styles/variables";

.button {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid rgb(170, 169, 169);
  border-radius: 5px;

  background-color: white;
  padding: 0.5rem;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transform: scaleX(0);
    transform-origin: left center;

    background: map-get($yellow, 200);

    transition: transform 300ms linear;
  }

  &:hover:before {
    transform: scaleX(1);
  }

  span {
    z-index: 999;
  }
}

.important {
  border: 2px solid map-get($yellow, 300);

  color: black;
  background: map-get($yellow, 200);

  &:before {
    background: map-get($yellow, 300);
  }
}

.danger {
  border: 2px solid map-get($red, 500);

  color: white;
  background: map-get($red, 300);

  &:before {
    background: map-get($red, 400);
  }
}
