@import "styles/mixins";
@import "styles/variables";

.slider {
  @include rounded-border("small");
  position: relative;
  margin: 0 auto;

  width: 90%;
  height: 2rem;

  background: white;

  cursor: pointer;
}

.progressBar {
  position: absolute;
  top: 15%;
  right: 0;
  bottom: 15%;
  left: 0;

  background-color: map-get($yellow, 200);
}

.draggable {
  @include flex();

  position: absolute;
  left: 0;
  top: -25%;

  height: 150%;
  width: 48px;

  border: 2px solid map-get($yellow, 300);
  border-radius: 50%;

  color: black;
  background: white;

  cursor: grab;
}
