@import "styles/variables";
@import "styles/mixins";

.container {
  grid-area: 6/2/11/12;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.answerContainer {
  @include rounded-border("small");

  position: relative;
  flex-basis: 49%;
  height: 45%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  background: white;

  overflow: hidden;
}

.toggleCorrectAnswer {
  flex-basis: 10%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  font-size: 2.5rem;

  cursor: pointer;
}

.answerInput {
  height: 100%;
  flex-basis: 80%;

  border: none;
  outline: none;

  font-size: 1.5rem;

  resize: none;
  padding: 0.5rem;
}

.answerNumber {
  flex-basis: 10%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  font-size: 2rem;

  background: map-get($gray, 200);
}

.correct {
  @include theme($green);
}

.incorrect {
  @include theme($red);

  &::before {
    content: "Click to mark as correct answer";
    position: absolute;
    top: 0;
    right: 10%;
    bottom: 0;
    left: 0;

    transform: translateX(-100%);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    font-size: 2rem;

    background: fade-out(map-get($gray, 200), 0.1);
    color: black;

    transition: 300ms;
  }

  &:hover:before {
    transform: translateX(0);
  }
}
