@import "styles/variables";

.container {
  height: 100vh;

  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  gap: 0.5rem;

  overflow: hidden;
}

.closeBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;

  font-size: 2rem;

  color: white;

  &:hover,
  &:focus {
    color: map-get($red, 400);
  }
}
