.container {
  height: 100vh;

  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  gap: 0.5rem;

  overflow: hidden;
}

.btnContainer {
  grid-area: 11/2/-1/12;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
