@import "../../styles/variables";

.container {
  position: absolute;
  top: 0;
  right: calc(100vw / 12);
  bottom: 0;
  left: calc((100vw / 12) * 3);

  transform: translateY(100vh);

  background: $blue;
}
