@import "../../styles/variables";
@import "../../styles/mixins";

.container {
  position: absolute;
  top: 0;
  right: calc(100vw / 12);
  bottom: 0;
  left: calc((100vw / 12) * 3);

  transform: translateY(100vh);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  background: map-get($blue, 200);
}

.title {
  margin: 0;
  flex-basis: 90%;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  font-size: 2rem;
  text-align: center;

  background: white;
  color: map-get($blue, 200);

  padding: 1rem;
}

.settingsSection {
  @include rounded-border("small");
  @include shadow("small");

  flex-basis: 90%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  text-align: center;

  background: map-get($gray, 100);

  padding: 0.5rem 1rem;

  p {
    flex-basis: 100%;

    border-bottom: 1px solid map-get($gray, 300);
  }
}

.temporaryImportant {
  color: map-get($red, 500);
  background: map-get($red, 100);
}
