@import "styles/variables";
@import "styles/mixins";

.title {
  margin: 0;
  flex-basis: 90%;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  font-size: 2rem;
  text-align: center;

  background: white;
  color: map-get($blue, 400);

  padding: 1rem;
}

.settingsSection {
  @include rounded-border("small");
  @include shadow("small");
  @include flex(space-around, center);

  flex-basis: 90%;

  text-align: center;

  background: map-get($gray, 100);

  padding: 0.5rem 1rem;

  p {
    flex-basis: 100%;

    border-bottom: 1px solid map-get($gray, 300);
  }
}

.temporaryImportant {
  @include theme($red);
}
