@import "styles/variables";
@import "styles/mixins";

.container {
  @include rounded-border("small");
  @include theme($gray);
  @include flex();

  position: relative;
  grid-area: 2/2/6/12;
  width: 100%;
  height: 100%;

  padding: 1rem;
}

.title {
  @include rounded-border("small");
  @include title(2rem, map-get($gray, 500));

  margin: 0;
  flex-basis: 100%;
  height: 20%;

  background: white;
}

.question {
  @include rounded-border("small");

  flex-basis: 100%;
  height: 75%;

  border: none;
  outline: none;

  font-size: 2rem;

  resize: none;

  padding: 0.5rem;
}

.tooltip {
  @include rounded-border("small");

  position: absolute;
  right: 1.25rem;
  bottom: 1.5rem;

  background: map-get($red, 100);
  color: map-get($red, 500);

  padding: 0.5rem;
}

.index {
  @include flex();
  @include theme($yellow);
  @include rounded-border("small");

  position: absolute;
  top: -2rem;
  left: -2rem;

  width: 4rem;
  height: 4rem;

  font-size: 1.5rem;
}
