@import "styles/variables";
@import "styles/mixins";

.tooltip {
  @include rounded-border("small");
  @include theme($yellow);

  width: 90%;
  height: 10%;

  text-align: center;
}

.list {
  flex-basis: 100%;
  height: 80%;

  overflow-y: auto;
  overflow-x: hidden;
}

.listItem {
  @include rounded-border("small");
  position: relative;

  margin: 2rem auto;
  width: 90%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 2px solid map-get($blue, 100);

  background: map-get($gray, 200);

  padding: 0 1rem;

  &::before {
    @include rounded-border("small");

    content: "Quiz title";
    position: absolute;
    top: -25%;
    left: -2.5%;

    background-color: map-get($blue, 200);
    color: white;

    padding: 0.25rem 1rem;
  }
}

.listItemElement {
  @include rounded-border("small");
  border: 2px solid map-get($gray, 300);

  text-align: center;

  background: white;

  padding: 0.5rem 1rem;
  overflow-x: auto;
  overflow-y: hidden;
}

.listItemElementImportant {
  background: map-get($yellow, 100);
}

.listItemTitle {
  flex-basis: 50%;
}
