@import "../../styles/variables";

.container {
  position: relative;
  grid-area: 2/2/6/12;
  width: 100%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  border-radius: 5px;

  background: map-get($gray, 200);

  padding: 1rem;
}

.title {
  margin: 0;
  flex-basis: 100%;
  height: 20%;

  border-radius: 5px;

  text-align: center;
  font-size: 2rem;

  background: white;
}

.question {
  flex-basis: 100%;
  height: 75%;

  border: none;
  outline: none;
  border-radius: 5px;

  font-size: 2rem;

  resize: none;

  padding: 0.5rem;
}

.tooltip {
  position: absolute;
  right: 1.25rem;
  bottom: 1.5rem;

  border-radius: 5px;

  background: map-get($red, 100);
  color: map-get($red, 500);

  padding: 0.5rem;
}
