@import "styles/variables";
@import "styles/mixins";

.container {
  @include rounded-border("small");

  position: absolute;
  top: 20%;
  right: calc(100vw / 12);
  bottom: 0;
  left: calc(100vw / 12);

  transform: translateY(100vh);

  background: map-get($blue, 400);

  padding: 1rem;
  overflow-y: auto;
}

.card {
  @include rounded-border("small");
  @include flex(space-around, center);

  margin-bottom: 1rem;
  width: 100%;
  height: auto;

  background: white;

  padding: 0.5rem;
}

.questionContainer {
  @include flex(space-between, center);

  width: 90%;
}

.number {
  @include rounded-border("small");
  @include theme($red);

  width: 5%;

  text-align: center;
  font-size: 3rem;
}

.question {
  @include rounded-border("small");

  margin: 0 0 0.25rem 0;
  flex-basis: 100%;

  text-align: center;

  background: map-get($gray, 200);
  color: black;
}

.answer {
  flex-basis: 100%;

  &:last-child {
    border-top: 1px solid map-get($gray, 200);
  }

  p {
    margin: 0.25rem 0;
  }

  span {
    @include rounded-border("small");

    width: 150px;
    display: inline-block;

    text-align: center;
    font-weight: 600;

    background: map-get($gray, 200);
  }
}

.correct {
  @include theme($green);
}
