@import "styles/variables";
@import "styles/mixins";

.loginContainer {
  @include rounded-border("small");
  @include flex(center, flex-start);

  grid-area: 2/9/11/12;

  border: 2px solid map-get($gray, 500);

  color: white;
  background: map-get($blue, 200);
  padding: 0 0.5rem;
}

.span {
  flex-basis: 100%;
}

.tooltip {
  @include rounded-border("small");

  width: 90%;

  color: map-get($red, 500);
  background: map-get($red, 100);

  padding: 0.5rem;
}

.tooltipHidden {
  opacity: 0;
}

.label {
  flex-basis: 100%;

  font-size: 2rem;

  input {
    @include rounded-border("small");

    width: 90%;

    border: none;

    font-size: 1.25rem;

    padding: 0.5rem;
  }
}

.title {
  margin: 0;
  flex-basis: 100%;

  border-bottom: 2px solid white;

  font-size: 2.5rem;

  padding: 0.5rem 0;
}
