@import "../../styles/variables";

.container {
  z-index: 9;
  grid-area: 1/4/-1/12;

  background: white;

  overflow-y: auto;
}

.title {
  width: 95%;
  margin: 0 auto;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  text-align: center;

  color: white;
  background: $blue;

  padding: 0.25rem;
}

.quizList {
  height: 80%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tooltip {
  font-size: 2rem;

  color: $gray;
}
