@import "../../styles/variables";

.container {
  z-index: 9;
  grid-area: 1/4/-1/12;

  background: white;

  overflow-y: auto;
}

.title {
  width: 95%;
  margin: 0 auto;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  text-align: center;

  color: white;
  background: map-get($blue, 200);

  padding: 0.25rem;
}

.quizList {
  height: 80%;
}

.tooltip {
  font-size: 2rem;

  color: map-get($gray, 200);
}
