@import "./variables";

@mixin rounded-border($size) {
  @if map-has-key($round-size, $size) {
    border-radius: map-get($round-size, $size);
  } @else {
    border-radius: 5px;
  }
}

@mixin shadow($size, $color: black) {
  @if map-has-key($shadow-size, $size) {
    box-shadow: 0 0 map-get($shadow-size, $size) 0 $color;
  } @else {
    box-shadow: 0 0 5px 0 $color;
  }
}

@mixin theme($color, $text: null) {
  border: 2px solid map-get($color, 500);

  @if $color == $yellow or $color == $gray {
    background-color: map-get($color, 200);
    color: black;
  } @else {
    background-color: map-get($color, 300);
    color: white;
  }

  @if $text {
    color: $text;
  }
}

@mixin flex($justify: center, $align: center) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justify;
  align-items: $align;
}
