$blue: rgb(55, 74, 114);
$gray: rgb(226, 226, 226);

$red: (
  100: rgb(255, 196, 196),
  200: rgb(236, 152, 152),
  300: rgb(224, 122, 122),
  400: rgb(211, 92, 92),
  500: rgb(187, 70, 70),
);

$yellow: (
  100: rgb(255, 247, 199),
  200: rgb(240, 228, 164),
  300: rgb(223, 207, 118),
  400: rgb(206, 188, 87),
  500: rgb(182, 163, 57),
);

$green: (
  100: rgb(156, 255, 182),
  200: rgb(120, 222, 147),
  300: rgb(83, 194, 113),
  400: rgb(62, 189, 96),
  500: rgb(43, 181, 80),
);
