@import "../../../styles/variables";

.container {
  margin: 2rem 0;

  flex-basis: 95%;
  height: 20%;

  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: center;
  //   align-items: center;

  border-radius: 5px;
  box-shadow: 0 0 5px 0 black;

  background: $gray;

  padding: 1rem;
}

.settings {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  flex-basis: 100%;
  width: 40%;

  border-radius: 5px;

  background: white;

  padding: 0.25rem;
}
